/* 1280px 이하 
- only for you 탭메뉴가 두줄이 되서 padding조절 등등.. */

@media screen and (max-width: 1280px) {
    .inner {
        padding: 0 20px;
    }

    .main-menu {
        gap: 3rem;
    }

    .gnb {
        gap: 1.5rem;
    }

    .section .title {
        font-size: 3rem;
    }

    .only-tab-list li a {
        padding: 0.9rem 1rem;
    }

}


/* 1024이하 - 아이패드 */
@media screen and (max-width: 1024px) {

    /* 기본글자크기 14px (pc버전크기 16) */
    html {
        font-size: 14px;
    }

    /* 1. 숨길꺼 다 제거하고 -> 2.보여주기 */
    /* 1. 제거하기 */
    /* 꼭! pc버전에 쓴 선택자 사용할것 !
    pc버전에 선택자를 사용해도 반영이 안되는경우 !important 사용 */
    .main-menu,
    .m-hide {
        display: none !important;
    }

    /* 2. 보이기 */
    .ham-btn {
        display: block;
    }

    /* 3. 100% 만들기 */



    /* footer의 footer-left와 footer-right를 다른줄로 변경 
    - footer .inner에 준 flex 취소 */
    footer .inner {
        display: block;
        padding: 3rem 20px;
    }

    .footer-right .sns-list {
        justify-content: flex-start;
        margin-top: 1.5rem;
    }

    .footer-right .footer-menu {
        display: flex;
        gap: 10px;
        /* 메뉴가 넘치면 메뉴별로 떨어지게 하기 - 글자별로 떨어지는거말고!  */
        flex-wrap: wrap;
    }
}



/* 768이하 - 모바일 */
@media screen and (max-width: 768px) {

    /* 기본글자크기 12px */
    html {
        font-size: 12px;
    }

    /* header .inner 줄간격 line-height */
    header .inner {
        line-height: 56px;
    }

    /* 로고사이즈 줄이기 */
    .logo img {
        width: 110px;
    }

    /* 햄버거버튼사이즈 줄이기 */
    .ham-btn img {
        width: 24px;
    }

    /* 스스로 추가한부분 */
    .title-box {
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

}